body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 30pt;
  text-align: center;
  margin: 20px;
}

#modes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 15px;
}

.mode {
  font-size: 14pt;
  width: 90px;
  height: 40px;
  border-radius: 6px;
}

#settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

#settings-no-squares {
  display: flex;
  gap: 10px;
}

#no-squares-text {
  font-size: 14pt;
}

#settings-buttons {
  display: flex;
  gap: 15px;
}

.setting-button {
  font-size: 12pt;
  height: 40px;
  border-radius: 6px;
}

#gridlines {
  width: 100px;
}

#clear {
  width: 70px;
}

#grid {
  margin: 10px;
  padding: 0;
  border: 3px;
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selected-button {
  background-color: grey;
  color: white;
}
