body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

#settings {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 20px;
}

#grid {
  margin: 30px auto;
  padding: 0;
  border: 3px;
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
}

.filled-button {
  background-color: grey;
  color: white;
}
